@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="error-code">
        <h1 class="font-texturina" style="font-size: 10rem;">Page 404</h1>
    </div>
    <div class="error-desc">
        <h3>Your Page can't be found!</h3>
    </div>

    <div class="image-404-cover">
        <img class="image-404" src="https://static1.squarespace.com/static/56b328fff699bbab113ee671/t/5ec35c52bf9cea2adb98a1cb/1589861469378/DeadLands_AlfredwDog_800x450.jpg?format=1500w" />
    </div>
    
</div>
