@using Microsoft.AspNet.Identity
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" area="" href="~/Home">
        <span class="first-head-span">Game</span><span class="head-span">Libra</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="~/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Games/List">Games<span class="sr-only">(current)</span></a>
            </li>

            @if (Request.IsAuthenticated)
            {
                <li class="nav-item active">
                    <a class="nav-link" href="~/Libraries/List">Libraries<span class="sr-only">(current)</span></a>
                </li>
            }

            @if (User.IsInRole("CanManageEverything"))
            {
                <li class="nav-item active">
                    <a type="button" class="nav-link" data-toggle="modal" data-target="#tablesModal">
                        Admin
                    </a>
                </li>
            }
        </ul>

        @Html.Partial("_LoginPartial")
        <!--
        <li class="nav-item active">
            <a class="nav-link" href="~/Account/Login">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="~/Account/Register">Register<span class="sr-only">(current)</span></a>
        </li>


            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="tablesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content my-bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="tablesModalLabel"> Admin modal for tabels</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-light">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <button id="show_option_1" class="btn btn-dark mb-3">Click to Hide/Show Basic Tables</button>
                    </div>
                    <div class="col">
                        <button id="show_option_2" class="btn btn-outline-light mb-3">Click to Hide/Show Many to Many Tables</button>
                    </div>
                </div>

                <hr style="height:2px;border:none;color:#333;background-color:white;" />

                <div class="row">
                    <div class="col">
                        <div class="options_1">
                            <h3><a class="btn btn-dark" href="~/Games"> Games That are currently available </a> </h3>

                            <h3><a class="btn btn-dark" href="~/Developers"> Game Devs That are currently available </a></h3>

                            <h3><a class="btn btn-dark" href="~/Publishers"> Game Publishers That are currently available </a></h3>

                            <h3><a class="btn btn-dark" href="~/Genres"> Game Genres That are currently available </a></h3>

                            <!--<h3><a class="btn btn-primary" href="~/Users"> Users That are currently available </a></h3>-->

                            <h3><a class="btn btn-dark" href="~/Libraries"> Libraries That are currently available </a></h3>

                        </div>
                    </div>
                    <div class="col">
                        <div class="options_2">
                            <h3><a class="btn btn-outline-light" href="~/Games_and_Genres">Games and Genres That are currently available </a></h3>

                            <h3><a class="btn btn-outline-light" href="~/Games_and_Images">Games and Images That are currently available </a></h3>

                            <h3><a class="btn btn-outline-light" href="~/Games_and_Libraries">Games and Libraries That are currently available </a></h3>

                            <!--<h3><a class="btn btn-outline-secondary" href="~/Games_and_Owners">Games and Owners That are currently available </a></h3>-->

                            <h3><a class="btn btn-outline-light" href="~/Games_and_Trailers">Games and Trailers That are currently available </a></h3>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
